@import "tailwindcss";

@theme {
  --color-brand-tomato-50: #fff1f1;
  --color-brand-tomato-100: #ffe1e1;
  --color-brand-tomato-200: #ffc7c7;
  --color-brand-tomato-300: #ffa0a0;
  --color-brand-tomato-400: #ff6b6b;
  --color-brand-tomato-500: #ff3b3b;
  --color-brand-tomato-600: #ed1515;
  --color-brand-tomato-700: #c80d0d;
  --color-brand-tomato-800: #a50f0f;
  --color-brand-tomato-900: #881414;

  --color-brand-herb-50: #f4f9f4;
  --color-brand-herb-100: #e6f3e6;
  --color-brand-herb-200: #cce5cc;
  --color-brand-herb-300: #a3d1a3;
  --color-brand-herb-400: #70b670;
  --color-brand-herb-500: #4a9c4a;
  --color-brand-herb-600: #3b7d3b;
  --color-brand-herb-700: #326432;
  --color-brand-herb-800: #2b502b;
  --color-brand-herb-900: #244224;

  --color-brand-golden-50: #fefbe8;
  --color-brand-golden-100: #fff7c2;
  --color-brand-golden-200: #ffea89;
  --color-brand-golden-300: #ffd649;
  --color-brand-golden-400: #ffc31f;
  --color-brand-golden-500: #faa307;
  --color-brand-golden-600: #dc7902;
  --color-brand-golden-700: #b65205;
  --color-brand-golden-800: #94400c;
  --color-brand-golden-900: #7a350f;
}
